{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('Login.css') }}">{% endblock %} 

{% block body %}
<div class="box">

   <h3 class="inscreussi">Inscription Réussi, vous pouvez maintenant vous connecter</h3>
   <br/><br/>
   <a href="/connexion"><input type="button" class ="buttoninscreussi" value="Se connecter"></a><br/>
   <a href="/"><input type="button" class ="buttoninscreussi" value="Retour à l'accueil"></a>

</div>
{% endblock %}
